@(message: String, postForm: Form[CreateForm], webJarAssets: WebJarAssets, topic: Topic, posts: List[TopicPost])(implicit messages: Messages)

@import helper._
@main("Welcome to Play", webJarAssets) {

  <h2>トピック: @topic.name</h2>
  <h3>投稿一覧</h3>
  @for(post <- posts) {
    <p>@{post.content}</p>
    <a href='@{routes.PostCommentController.show(post.id)}'>コメント欄</a>
  }
  <div class = "post-form">
    @form(action = routes.TopicPostController.create(topic.id)){
    @textarea(postForm("新規投稿"))
    <input type = "submit" value="投稿する">
    }
  </div>
}
